
:root{
    --primary-color:#4C243B;
    --secondary-color:#AC7884;
    --auxilliary-color:#fff;
    --padding-horizontal:100px;
    --padding-vertical: 10px;
    --card-background-color:#ffeff2;
}
body h1,h3,p{
    margin:0;
  font-family:"Poppins", sans-serif;
}
nav{
    background-color:var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--padding-horizontal);
    padding-right: var(--padding-horizontal);
    padding-top: 10px;
    padding-bottom: 10px;    
}
nav>div>a{
    color: white;
    text-decoration: none;
    margin-right: 4px;
}
nav>div>h1{
    color: #fff;
    margin-left: 4px;
}
.logo{
    display: flex;
}
#homesection{
    display: flex;
    padding-left: var(--padding-horizontal);
    padding-right: var(--padding-horizontal);
    padding-top: var(--padding-vertical);
    padding-bottom: var(--padding-vertical);
    height: 80vh;
    align-items:center;
     
}
#homesection>img{
    aspect-ratio: 1/1;
    width: 300px;
    height: 300px;
    border-radius:50%;

}
#homesection>div{
    padding-left: 120px;
    width: 50vw;
}
#homesection>div>h1{
    font-size: 64px;
    color: var(--primary-color);
}
#homesection>div>p{
    font-size:16px;
    margin: 0;
    padding-bottom: 20px;
    font-weight: 300;
    color: var(--secondary-color);
}
#homesection>div>button{
    all:unset;
    background-color: var(--primary-color);
    color: #fff;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 50px;
    transition: 1s;
}
#homesection>div>button:hover{
    background-color: #AC7884;
    color: var(--primary-color);
    cursor: pointer;
}
#myprojectsection>div>h1{
    color: var(--primary-color);
    font-size: 40px;
    text-align: center;
}
#myprojectsection>div>p{
    color: var(--secondary-color);
    font-weight: 300;
    text-align: center;
    margin: 0;
}
#myprojectsection>div>.card{
    background-color: var(--card-background-color);
    width: 311px;
    height: 366px;
    border-radius:30px;
    margin: 16px;
    padding: 16px;
}
#myprojectsection>div>.card>img{
  aspect-ratio: 1/1;
  width: 100%;
  height: 154px;
  object-fit: cover;
  border-radius: 25px;
}
#myprojectsection>div>.card >button{
    background-color: var(--primary-color);
    color: #fff;
    padding-left: 22px;
    width: 80%;
    text-align: center;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-top: 12px;
    border-radius: 40px;
    transition: 1s;
    margin: 16px;
    }
#myprojectsection>.projects{
        display: flex;
        padding-left: var(--padding-horizontal);
        padding-right: var(--padding-horizontal);
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 16px;
    }
#myprojectsection>div>.card>button:hover{
 background-color: #AC7884;
    color: var(--secondary-color);
    cursor: pointer;
}
#myprojectsection>div>.card >h3{
     font-size: 20px;
    color: var(--primary-color);
    margin-top: 16px;
    text-align: center;
}
#myprojectsection>div>.card>p{
    font-size: 12px;
    color: var(--secondary-color);
    margin-top: 12px;
}
#contactSection{
     padding-left: var(--padding-horizontal);
        padding-right: var(--padding-horizontal);
        height: 60vh;


}
#contactSection>form{
    padding: 24px;
    background-color: var(--secondary-color);
    border-radius: 30px;
    width: 60vw;
}
#contactSection>form>div{
    margin-top: 18px;
}
#contactSection>form>h2{
    font-size: 16px
    text-align: center;
}
